.task-item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
  padding: 8px 4px;
  color: #222;
  font-size: 14px;
  
}

.task-item input[type="text"] {
  border: none;
  font-size: 14px;
  display: block;
  width: 100%;
}

.task-item select {
  display: block;
  width: 100%;
  margin-top: 8px;
}

.task-item .btn {
  margin-bottom: 8px;
  margin-top:-4px;
  padding: 4px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  background: #00b8d4;
  transition: background-color 0.3s;
}

.task-item .btn:hover {
  background-color: #0091a8;
  cursor: pointer;
}

.task-item .btn img {
  width: 3px;
  height: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  color: white;
  
}